

*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
#cadastro {
    background: #DEDEDE;
    display: flex;
    min-height: 100vh;
} 

#cadastro h1 {
    color: #fff;
    text-align: center;
}

#cadastro .form-registrar {
    
    width: 95%;
    height: 500px;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
}

#cadastro .form__titulo {
    
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
    font-size: 30px;
    border-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid crimson;
    
}

#cadastro .conteiner-inputs{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#cadastro input{
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px silid darkgray;
}

#cadastro .input-48{
    width: 48%;
}

.input-100{
    width: 100%;
}

.btn-enviar {
    background: linear-gradient(#FFDA63, #FFB940);
    color: brown;
    margin: auto;
    padding: 10px 30px;
    opacity: 0.8;
    cursor: pointer;

    margin-bottom: 0;
}

.btn-enviar:hover {
    opacity: 1;
}

.btn-enviar:hover {
    transform: scale(0.95);
}

.form__link {
    width: 100%;
    margin: 7px;
    text-align: center;
    font-size: 14px;
}
